<style>
	.menu:hover{
		background-color:red;
	}
</style>

<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
		<a class="nav-link btn text-white menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
	</li>
</ul>