@using Microsoft.AspNetCore.Identity
@using SystemApp.Models.DataModels
@using SystemApp.Utilities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a asp-controller="Home" asp-action="Index" class="brand-link">
		@*<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
			style="opacity: .8">*@
		<span class="brand-text font-weight-light">SalesPoint</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			@if (SignInManager.IsSignedIn(User))
			{
				var _appUser = await UserManager.GetUserAsync(User);
				var userProfileImage = "~/images/profile" + _appUser.UserImagePath;
				<div class="image">
					<img src="@userProfileImage" asp-append-version="true" class="img-circle elevation-2" alt="User image">
				</div>
				<div class="info">
					<a href="#" class="d-block">@UserManager.GetUserName(User)</a>
				</div>
			}
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				@if (SignInManager.IsSignedIn(User) && User.IsInRole(StandardVariables.SellerRole))
				{
					<li class="nav-item">
						<a asp-controller="Store" asp-action="Create" class="nav-link">
							<i class="fas fa-plus-square"></i>
							<p>
								Create Store
							</p>
						</a>
					</li>
				}
				else
				{
					if (!User.IsInRole("User"))
					{
						<li class="nav-item has-treeview">
							<a href="#" class="nav-link">
								<i class="fas fa-list-alt"></i>
								<p>
									Category
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a asp-controller="ProductCategory" asp-action="Index" class="nav-link">
										<i class="fa fa-list nav-icon"></i>
										<p>Category Lists</p>
									</a>
								</li>
								<li class="nav-item">
									<a asp-controller="ProductCategory" asp-action="AddCategory" class="nav-link">
										<i class="fa fa-plus-circle nav-icon"></i>
										<p>New</p>
									</a>
								</li>
								<li class="nav-item">
									<a asp-controller="ProductCategory" asp-action="InActiveCategory" class="nav-link">
										<i class="fa fa-ban nav-icon"></i>
										<p>Disabled</p>
									</a>
								</li>
								<li class="nav-item">
									<a asp-controller="ProductCategory" asp-action="Delete" class="nav-link">
										<i class="fas fa-trash nav-icon"></i>
										<p>Deleted</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item has-treeview">
							<a href="#" class="nav-link">
								<i class="fab fa-product-hunt"></i>
								<p>
									Product
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a asp-controller="Product" asp-action="Index" class="nav-link">
										<i class="fa fa-list nav-icon"></i>
										<p>Product Lists</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/mailbox/mailbox.html" class="nav-link">
										<i class="fa fa-plus-circle nav-icon"></i>
										<p>New</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/mailbox/compose.html" class="nav-link">
										<i class="fas fa-toggle-on nav-icon"></i>
										<p>Active</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/mailbox/read-mail.html" class="nav-link">
										<i class="fas fa-toggle-off nav-icon"></i>
										<p>In Active</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/mailbox/read-mail.html" class="nav-link">
										<i class="fas fa-trash nav-icon"></i>
										<p>Deleted</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="pages/gallery.html" class="nav-link">
								<i class="fab fa-first-order"></i>
								<p>
									Oreder Management
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="pages/gallery.html" class="nav-link">
								<i class="fas fa-shopping-cart"></i>
								<p>
									Cart Management
								</p>
							</a>
						</li>
					}
				}

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>