@model SystemApp.Models.ViewModels.HomeViewModel
@using Microsoft.AspNetCore.Http
@using LittleSalesApp.Extensions
@using SystemApp.Utilities
@using SystemSales.AccessLayer
@inject ApplicationDbContext context;
@inject IHttpContextAccessor HttpContextAccessor

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
	@*<div class="p-3 mb-2" style="margin-top:-1em; background-color:#fbfaf6">
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>*@

	<div class="row pb-2" style="margin-top:-0.8em;">
		<div class="col-md-10">
			<partial name="_PrimaryDefaultBanner" />
		</div>
		<div class="col-md-2 text-navy text-center mt-4" style="font-family:'Lucida Fax'">
			@if (HttpContextAccessor.HttpContext.Session.GetObject<List<Guid>>(StandardVariables.SessionCart) != null)
			{

				<div class="text-center">
					<h3 class="font-weight-bold text-info">Shopping Basket</h3>
					@{
						var count = HttpContextAccessor.HttpContext.Session.GetObject<List<Guid>>(StandardVariables.SessionCart).Count;
					}
					<a asp-controller="Cart" asp-action="Index" class="btn btn-success">Checkout <i class="fas fa-shopping-basket" style="font-size:20px"></i> (@count)</a>
				</div>

			}
			else
			{
				<div class="text-center">
					<h3 class="font-weight-bold text-info">Shopping Basket</h3>
					<i class="fas fa-shopping-basket text-danger" style="font-size:20px"></i>&nbsp; (0)
				</div>
			}
		</div>
	</div>

	<hr style="margin-top:-0.39em" />

	<div class="row container">
		<div class="col-md-3">
			<div class="card mb-3">
				<div class="card-header text-red">Search for products</div>
				<div class="card-body">
					<form method="post" enctype="multipart/form-data">
						<input asp-action="SearchProduct" type="search" class="form-control" />
						<button class="btn btn-info form-control">Search</button>
					</form>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header text-red">All Categories</div>
				<div class="card-body">
					@foreach (var menu in Model.CategoryList)
					{
						<ul class="list-group">
							<a asp-action="Index" asp-controller="@menu.LowerCaseName" class="btn btn-primary text-left mb-1" style="text-decoration:none">@menu.CategoryName <i class="fas fa-chevron-right float-right"></i> </a>
						</ul>
					}
				</div>
			</div>

			<div>
				others
			</div>
		</div>
		<div class="col-md-9">
			<partial name="_AppProductListPartialView" />
		</div>
	</div>

	<div class="py-3 my-3" style="margin:10px">
		<div class="card mb-5">
			<div class="card-header bg-danger text-white">Best Selling</div>
			<div class="card-body">
				@*List here*@
			</div>
		</div>
	</div>

</div>
